@import "tailwindcss";
@tailwind utilities;

/* Fonts */
/* Thème inline (v4) */
@theme inline {
  --color-background:#1B262C;
  --color-secondary:#24353E;
  --color-title:#ffffff;
  --color-text:#ffffff;
  --color-button:#ffffff;
  --color-text-button:Poppins, sans-serif;
  --font-sans: 'Poppins', sans-serif;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-sans);
}

/* Bouton dégradé via variable */
button { 
border-radius: 20px;
background: linear-gradient(108deg, #3A5E72 4.95%, #5C93B1 132.43%);
box-shadow: 7px 7px 10px 0 rgba(79, 136, 167, 0.30) inset;
}