@import "tailwindcss";
@tailwind utilities;

/* Fonts */
/* Thème inline (v4) */
@theme inline {
  --color-background:#1B262C;
  --color-secondary:#24353E;
  --color-title:#ffffff;
  --color-text:#ffffff;
  --color-button:#ffffff;
  --color-border-button:#ffffff;
  --color-text-button:Poppins, sans-serif;
  --font-sans: 'Poppins', sans-serif;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-sans);
}

/* Bouton dégradé via variable */
button { 
border-radius: 20px;
background: linear-gradient(108deg, #3A5E72 4.95%, #5C93B1 132.43%);
box-shadow: 7px 7px 10px 0 rgba(79, 136, 167, 0.30) inset;
}

.ant-btn-variant-solid {
border-radius: 5px;
background: linear-gradient(108deg, #3A5E72 4.95%, #5C93B1 132.43%);
box-shadow: 7px 7px 10px 0 rgba(79, 136, 167, 0.30) inset;
padding: 20px 10px !important;
}
.ant-btn-variant-solid:hover {
border-radius: 5px;
background: transparent !important;
color: var(--color-text) !important;
box-shadow: none !important;
border: 1px solid var(--color-border-button) !important;
padding: 20px 10px !important;
}

 .ant-select-selector {
  background-color: var(--color-secondary) !important;
  border-color: var(--color-border-button) !important;
  color: var(--color-text) !important;  
  padding: 20px 10px !important;
  fill: var(--color-text) !important;
  dusplay: flex;
  align-items: center; 
  justify-content: center;
 }

 .ant-select-arrow .anticon {
  color: var(--color-text) !important;
  fill: var(--color-text) !important;
  font-size: 15px !important;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
 }

 .ant-select-single {
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .ant-select-selection-item:active {
  color: var(--color-text) !important;
  display: flex;
  align-items: center;
  justify-content: center;
 }  

 .ant-input-number-outlined {
  background-color: var(--color-secondary) !important;
  border-color: var(--color-border-button) !important;
  color: var(--color-text) !important;  
  padding: 5px 5px !important;
  display: flex;
  align-items: center; 
  justify-content: center;
 }

 .ant-input-number-handler-wrap {
  background-color: var(--color-secondary) !important;
  border-color: var(--color-border-button) !important;
  color: var(--color-text) !important;  
  display: flex;
  align-items: center; 
  justify-content: center;
 }

.ant-input-number-handler-down-inner, .ant-input-number-handler-up-inner {
  color: var(--color-text) !important;
  fill: var(--color-text) !important;
 }

.ant-input-number-input {
  color: var(--color-text) !important;
}